/* Copy stuff */
.container {
    padding: 5vh 10vw;
}

label {
    text-align: center;
    font-weight: bold;
}

button {
    margin: auto;
}

span {
    color:  darkred;
    text-align: right;
    font-size: 1.2rem;
}

.success-message {
    color: green;
    margin-bottom: 2vw;
    font-size: 2rem;
    text-align: center;
}